<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      <div *ngIf="bool !== 'true'">Add daily</div> 
      <div *ngIf="bool == 'true'">Edit daily</div> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form #form="ngForm" (ngSubmit)="daily(form)">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime
              display-format="DDDD MMM D, YYYY"
              [monthNames]="monthNames"
              [monthShortNames]="MonthAbbreviation"
              [dayNames]="dayNames"
              [dayShortNames]="dayAbbreviation"
              name="date"
              [ngModel]="(data | async)?.date"
            >
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label [position]="bool !== 'true' ?  'floating' : 'stacked'">Material Use</ion-label>
            <ion-textarea rows="6" name="materialuse" [ngModel]="(data | async)?.materialuse"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label [position]="bool !== 'true' ?  'floating' : 'stacked'">Planned Activities</ion-label>
            <ion-textarea
              rows="6"
              name="plannedactivities"
              [ngModel]="(data | async)?.plannedactivities"
            ></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label [position]="bool !== 'true' ?  'floating' : 'stacked'">Results</ion-label>
            <ion-textarea rows="6" name="results" [ngModel]="(data | async)?.results"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label [position]="bool !== 'true' ?  'floating' : 'stacked'">Challenges</ion-label>
            <ion-textarea rows="6" name="challenges" [ngModel]="(data | async)?.challenges"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label>Accomplished</ion-label>
            <ion-checkbox
              slot="start"
              name="accomplished"
              [ngModel]="(data | async)?.accomplished"
            ></ion-checkbox>
          </ion-item>

          <div padding></div>

          <div padding-vertical>
            <ion-button type="submit" expand="block">
                <div *ngIf="bool !== 'true'">Add</div> 
                <div *ngIf="bool == 'true'">Save</div> 
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
