<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Edit Report</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="isSaveing" type="indeterminate"></ion-progress-bar>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div *ngIf="data">
        <ion-item>
          <ion-label position="floating">Beneficiary Name</ion-label>
          <ion-input name="name" type="text" [(ngModel)]="data.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input
            name="address"
            type="text"
            [(ngModel)]="data.address"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input
            name="phoneNumber"
            type="number"
            [(ngModel)]="data.phoneNumber"
          ></ion-input>
        </ion-item>

        <div padding></div>
        <div padding></div>

        <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime
            display-format="DDDD MMM D, YYYY"
            [monthNames]="monthNames"
            [monthShortNames]="MonthAbbreviation"
            [dayNames]="dayNames"
            [dayShortNames]="dayAbbreviation"
            name="startDate"
            [(ngModel)]="data.startDate"
          >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime
            display-format="DDDD MMM D, YYYY"
            [monthNames]="monthNames"
            [monthShortNames]="MonthAbbreviation"
            [dayNames]="dayNames"
            [dayShortNames]="dayAbbreviation"
            name="endDate"
            [(ngModel)]="data.endDate"
          >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Completed</ion-label>
          <ion-checkbox
            slot="start"
            name="completed"
            [(ngModel)]="data.completed"
          ></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Type Of Work</ion-label>
          <ion-select
            interface="action-sheet"
            placeholder="Select One"
            name="workType"
            [(ngModel)]="data.workType"
          >
            <ion-select-option
              *ngFor="let type of typeOfWork"
              [value]="type.title"
              >{{ type.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div padding></div>

        <div padding-vertical>
          <ion-button
            [disabled]="isSaveing"
            type="submit"
            expand="block"
            (click)="editBeneficiary()"
          >
            Save
          </ion-button>
        </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
