<ion-content padding color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
        <ion-avatar class="avlog">
          <img src="./assets/avatar.png" />
        </ion-avatar>
        <div text-center padding-horizontal>
          <h2>Let's get you set up</h2>
          <p>You can start by signing in with your Email Address</p>
        </div>

        <ion-list padding-horizontal>
          <ion-item color="primary">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item color="primary">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="Password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>

          <div padding></div>

          <ion-button margin-vertical expand="full" (click)="login()">
            <ion-icon slot="start" name="log-in"></ion-icon> Sign in
          </ion-button>

          <div text-center>
            <p class="rline">
              Don't have an Account <a routerLink="/auth/register">Register Here</a>
            </p>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
