.avlog {
    width: 150px;
    height: 150px;
    margin: 1em auto;
  }
  
  ion-list {
    background: var(--ion-color-primary);
  }
  
  a {
    color: var(--ion-color-dark);
    text-decoration: none;
  }
  
  .rline {
    font-size: 12px;
  }
  
  ion-button {
      --background: white;
      --color: #4b4b4b;
  }