<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form #form="ngForm" (ngSubmit)="settings(form)">
          <ion-item>
            <ion-label>Constituency</ion-label>
            <ion-select
              interface="action-sheet"
              placeholder="Select One"
              name="constituency"
              [ngModel]="constsit?.constituency"
            >
              <ion-select-option
                *ngFor="let const of constituencies"
                [value]="const.name"
                >{{ const.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <div padding></div>

          <div padding-vertical>
            <ion-button type="submit" expand="block">Save</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
