<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="openMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-title>Beneficiary</ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="6" offset-xl="3">
        <app-detail-list [data]="data" (open)="openItem($event)"></app-detail-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addbeneficiary()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
