<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title text-center *ngIf="(data | async) as item">{{
      item.date | date: "EEEE, MMMM d"
    }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="edit()">
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-xl="4" offset-xl="4">
        <ng-container *ngIf="(data | async) as item; else elseTemplate">
          <ion-card class="card-backgroud" margin-vertical *ngIf="item.plannedactivities">
            
            <h4 padding-horizontal>Planned Activities</h4>
            
            <ion-card-content>
              {{ item.plannedactivities }}
            </ion-card-content>
          </ion-card>

          <ion-card class="card-backgroud" margin-vertical *ngIf="item.materialuse">
            
            <h4 padding-horizontal>Material Use</h4>
            
            <ion-card-content>
              {{ item.materialuse }}
            </ion-card-content>
          </ion-card>

          <ion-card class="card-backgroud" margin-vertical *ngIf="item.challenges">
            
            <h4 padding-horizontal>Challenges</h4>
            
            <ion-card-content>
              {{ item.challenges }}
            </ion-card-content>
          </ion-card>

          <ion-card class="card-backgroud" margin-vertical *ngIf="item.results">
            
            <h4 padding-horizontal>Results</h4>
            
            <ion-card-content>
              {{ item.results }}
            </ion-card-content>
          </ion-card>

          <ion-card margin-vertical [class]="item.accomplished ? 'done' : 'undone'">
            <ion-card-header>
              <div text-center>
                {{ item.accomplished ? "Accomplished" : "Unaccomplished" }}
              </div>
            </ion-card-header>
          </ion-card>
        </ng-container>
        <ng-template #elseTemplate>
          <app-loader></app-loader>
          <app-loader></app-loader>
          <app-loader></app-loader>
          <app-loader></app-loader>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
