<ng-container *ngIf="(data | async) as item; else elseTemplate">
  <ion-grid>
    <ion-row>
      <ion-col
        size-sm="8"
        offset-sm="2"
        size-md="6"
        offset-md="3"
        size-xl="6"
        offset-xl="3"
      >
        <ion-card class="maincard">
          <div padding>
            <h3>{{ item.name }}</h3>
            <p>{{ item.workType }}</p>
          </div>

          <ion-card-content>
            <p><b>Address:</b> {{ item.address }}</p>
            <p><b>Contact:</b> {{ item.phoneNumber }}</p>
            <!-- <p><b>Constituency:</b> {{ consti }}</p> -->
            <p><b>Date Project Started:</b> {{ item.startDate | date: 'fullDate' }}</p>
            <p *ngIf="item.endDate"><b>Date Project Ended:</b> {{ item.endDate | date: 'fullDate' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
<ng-template #elseTemplate>
  <ion-grid>
    <ion-row padding>
      <ion-col
        size-sm="8"
        offset-sm="2"
        size-md="6"
        offset-md="3"
        size-xl="6"
        offset-xl="3"
      >
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
