<div class="grid-container" *ngIf="!isLoading; else isloading">
  <mat-card [id]="Monthly.$key" class="mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Beneficiary Name: {{ Monthly.BeneficiaryName }}

        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Select Month">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editMonth(true)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteMonthPrompt()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle><span class="bold">Address:</span> {{ Monthly.Address }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Contact:</span> {{ Monthly.Contact }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Type Of Work:</span> {{ Monthly.WorkToBeDone }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Constituency:</span> {{ Monthly.Constituency }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Date Project Started:</span> {{ Monthly.DateWorkStarted.toDate() | date:
        'mediumDate' }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Date Project Ended:</span> {{ Monthly.DateWorkCompleted.toDate() | date:
        'mediumDate' }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Coordinator's Name:</span> {{ Monthly.CoordinatorName }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Housing Coordinator:</span> {{ Monthly.HousingCoordinator }}</mat-card-subtitle>
      <mat-card-subtitle><span class="bold">Date Material Were Delivered:</span> {{
        Monthly.DateMaterialWereDelivered.toDate() | date: 'mediumDate' }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <div class="accordiondiv" *ngFor="let item of daily | async; trackBy: trackByFn" [id]="item.$key">
    <mat-card class="cardtitle">
      <mat-card-header>
        <mat-icon mat-card-avatar class="carIcon" color="primary">assignment</mat-icon>
        <mat-card-title>{{ item.Day }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menud" aria-label="Select Month">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menud="matMenu" xPosition="before">
                <button mat-menu-item >
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteDayPrompt(item.$key)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
        </mat-card-title>
        <mat-card-subtitle><span class="bold">Date: </span>{{ item.Date.toDate() | date: 'mediumDate' }}</mat-card-subtitle>
        <mat-card-subtitle><span class="bold">Accomplished: </span>{{ item.Accomplished }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel *ngIf="item.MaterialUse">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Material Use
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.MaterialUse }}</p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="item.PlannedActivities">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Planned Activities
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.PlannedActivities }}</p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="item.Results">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Results
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.Results }}</p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="item.Challenges">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Challenges
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.Challenges }}</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <button mat-fab color="accent" (click)="addReport()" class="addbutton">
    <mat-icon aria-label="Add A Daily Report">add</mat-icon>
  </button>
</div>

<ng-template #isloading>
  <div class="isloadingPage">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
