<ion-app>
  <ion-menu side="start" menuId="mainmenu">
    <ion-header no-border>
      <ion-toolbar>
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-avatar margin class="ava">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <h5 text-center padding>{{ user.displayName }}</h5>
      <ion-list>
        <ion-item (click)="setting()" lines="none">
          <ion-icon slot="start" name="settings"></ion-icon> Setting
        </ion-item>
        <ion-item (click)="logout()" lines="none">
          <ion-icon slot="start" name="log-out"></ion-icon> sign out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
