<ion-app>
  <ion-menu side="start" menuId="mainmenu">
    <ion-header no-border>
      <ion-toolbar>
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-avatar margin class="ava" *ngIf="user">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <div text-center padding text-wrap>
        <h5 *ngIf="user">{{ user.displayName }}</h5>
        <h6 *ngIf="user" >{{ user.email }}</h6>
      </div>
      <ion-list>
        <ion-item (click)="setting()" lines="none">
          <ion-icon slot="start" name="settings"></ion-icon> Setting
        </ion-item>
        <ion-item (click)="logout()" lines="none">
          <ion-icon slot="start" name="log-out"></ion-icon> sign out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
