<ion-header no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title text-center>Daily Report</ion-title>
    <ion-button slot="end" fill="clear" (click)="editBenef()">
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-item-header [data]="data"></app-item-header>
  <ion-list>
    <app-list-item [data]="dailyData"></app-list-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDaliy()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>