.home-item {
    --background: rgb(76, 68, 119);
    --background: linear-gradient(45deg, rgba(76, 68, 119, 1) 0%, rgba(46, 87, 119, 1) 100%);
    --color: white;
    // box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.26);
}

ion-item {
    --background: #f4f5f9;
}